<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>却邪水心泮</title>
    <link rel="stylesheet" href="/phoenix-web/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="/phoenix-web/base/modal/modal_base.css">
    {% block header-js %}{% endblock %}
    {% block header-css %}{% endblock %}
</head>
<body>
{% block body %}模态框主体内容{% endblock %}
<script src="/phoenix-web/plugin/layui/layui.all.js"></script>
<script src="/phoenix-web/base/modal/modal_base.js"></script>
{% block footer-js %}{% endblock %}
</body>
</html>