.article-card-pane {
    display: block;
    text-decoration: none;
    border: 1px solid #eee;
    margin: 30px auto;
    padding: 0 15px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

.article-card-pane-item {
    margin: 15px 15px;
}

.article-card-title {
    color: #606266;
    font-size: 26px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.article-card-sub-title {
    margin: 10px 0;
    color: #999;
}

.article-card-pane-item span {
    display: inline-block;
    /*border: 1px solid #000;*/
    margin: 3px 10px 3px 0 !important;
}

.article-card-desc {
    font-size: 16px;
    color: #838B8B;
    margin: 30px auto;
    /*width: 100%;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
}

/*.article-card-tag {*/
/*    display: inline-block;*/
/*    list-style: none;*/
/*    margin: auto 5px auto 0;*/
/*}*/
