{% extends 'base/index/index_base.html' %}

{% block header-css %}
    <link rel="stylesheet" href="/phoenix-web/app/index/index.css">
    <link rel="stylesheet" href="/phoenix-web/assets/icons/iconfont.css">
{% endblock %}

{% block header-meta %}
    <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- 描述 -->
    <meta name="description" content="却邪水心-首页"/>
    <!-- 关键词 -->
    <meta name="keywords" content="却邪水心,首页"/>
    <!-- 作者 -->
    <meta name="author" content="却邪水心"/>
    <!-- 搜索引擎抓取 -->
    <meta name="robots" content="all"/>
    <!-- 版权 -->
    <meta name="copyright" content="却邪水心">
    <!-- 站点标识 -->
    <meta name="applicable-device" content="pc">
{% endblock %}

{% block body-middle %}
    <div id="articleCardElem"></div>
    <div id="articlePageElem"></div>
{% endblock %}

{% block body-right %}
    <div class="show-card">
        <div class="show-card-row show-card-row-first">
            <a><img src="/phoenix-web/assets/img/show.png" alt="show"></a>
            <div class="show-card-header-name">
                <div>却邪水心</div>
                <span>北京朝阳区</span>
                <span>Python开发工程师</span>
            </div>
        </div>
        <div class="show-card-row show-card-row-fourth">
            <button class="layui-btn layui-btn-radius layui-btn-primary layui-btn-sm" id="message">私信</button>
            <button class="layui-btn layui-btn-radius layui-btn-normal layui-btn-sm" id="subscribe">订阅</button>
        </div>
        <div class="show-card-row show-card-row-second">
            <a class="iconfont icon-weixin1" id="wechatCode">
                <img src="/phoenix-web/assets/img/wechat_code.jpg" alt="wechat" width="150" height="150">
            </a>
            <a class="iconfont icon-qq" id="qqCode">
                <img src="/phoenix-web/assets/img/qq_code.png" alt="qq" width="150" height="150">
            </a>
            <a href="https://github.com/phoenix925361743/phoenix" target="_blank" class="iconfont icon-github"></a>
{#            <a class="iconfont icon-news-fill"></a>#}
        </div>
        <hr>
        <div class="show-card-row show-card-row-third">
            <div>
                <div>文章</div>
                <div id="showCardArticleCount">0</div>
            </div>
            <div>
                <div>评论</div>
                <div id="showCardCommentCount">0</div>
            </div>
            <div>
                <div>粉丝</div>
                <div id="showCardFansCount">0</div>
            </div>
            <div>
                <div>分类</div>
                <div id="showCardClassifyCount">0</div>
            </div>
            <div>
                <div>访问</div>
                <div id="showCardAccessCount">0</div>
            </div>
        </div>
    </div>
    <div class="hot-article">
        <div class="layui-card">
            <div class="layui-card-header"><i class="layui-icon layui-icon-fire"></i>  热门文章</div>
            <div class="layui-card-body" id="hotArticleList"></div>
        </div>
    </div>
{% endblock %}


{% block footer-js %}
    <script src="/phoenix-web/app/index/index.js" type="module"></script>
{% endblock %}
