<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>却邪水心泮-后台管理-{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/phoenix-web/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="/phoenix-web/base/mgt/base.css">
    <link rel="icon" href="/phoenix-web/assets/img/favicon.ico" type="image/x-icon"/>
    {% block header-css %}{% endblock %}
    {% block header-js %}{% endblock %}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" id="management-logo"><img src="/phoenix-web/assets/img/logo-b.jpg"></div>
        <!-- 头部导航 -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="{% url 'article-info-page' %}">写文章</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a id="login-username">
                    <i class="layui-icon layui-icon-username"></i>
                    却邪水心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a id="modifyPassword">修改密码</a></dd>
                    <dd><a id="logout">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航 -->
            <ul class="layui-nav layui-nav-tree" lay-filter="management-side-nav"  lay-shrink="all">
                <li class="layui-nav-item">
                    <a href="{% url 'dashboard-page' %}">
                        <i class="layui-icon layui-icon-console"></i>&nbsp;
                        仪表板
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a>
                        <i class="layui-icon layui-icon-template-1"></i>&nbsp;
                        博客管理
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="{% url 'article-info-page' %}">
                                <i class="layui-icon layui-icon-form"></i>&nbsp;
                                博客文章
                            </a>
                        </dd>
                        <dd>
                            <a href="{% url 'article-list-page' %}">
                                <i class="layui-icon layui-icon-read"></i>&nbsp;
                                文章列表
                            </a>
                        </dd>
                        <dd>
                            <a href="{% url 'article-data-page' %}">
                                <i class="layui-icon layui-icon-note"></i>&nbsp;
                                数据管理
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a>
                        <i class="layui-icon layui-icon-release"></i>&nbsp;
                        SEO管理
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="{% url 'system-seo-page' %}">
                                <i class="layui-icon layui-icon-diamond"></i>&nbsp;
                                文章链接
                            </a>
                        </dd>
                        <dd>
                            <a href="{% url 'system-access-record-page' %}">
                                <i class="layui-icon layui-icon-chart"></i>&nbsp;
                                访问记录
                            </a>
                        </dd>
                        <dd>
                            <a href="{% url 'flink-page' %}">
                                <i class="layui-icon layui-icon-link"></i>&nbsp;
                                友链申请
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a>
                        <i class="layui-icon layui-icon-set-sm"></i>&nbsp;
                        系统配置
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="{% url 'system-param-page' %}">
                                <i class="layui-icon layui-icon-list"></i>&nbsp;
                                系统参数
                            </a>
                        </dd>
                        <dd>
                            <a href="{% url 'system-flow-page' %}">
                                <i class="layui-icon layui-icon-flag"></i>&nbsp;
                                项目管理
                            </a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">{% block content %}内容主体区域{% endblock %}</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <div id="management-footer">{% block footer %}底部固定区域{% endblock %}</div>
    </div>
</div>
<script type="text/html" id="actionBar" class="layui-hide">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="rowDetail">
            <i class="layui-icon layui-icon-search" title="详情"></i>
        </a>
        <a class="layui-btn layui-btn-xs" lay-event="rowEdit">
            <i class="layui-icon layui-icon-edit" title="编辑"></i>
        </a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="rowDelete">
            <i class="layui-icon layui-icon-delete" title="删除"></i>
        </a>
    </div>
</script>
<script src="/phoenix-web/plugin/layui/layui.all.js"></script>
<script src="/phoenix-web/base/mgt/base.js" type="module"></script>
{% block footer-scripts %}{% endblock %}
</body>
</html>