{% extends 'base/mgt/basic.html' %}

{% block title %}博客文章{% endblock %}

{% block header-css %}
    <link rel="stylesheet" href="/phoenix-web/plugin/editormd/css/editormd.min.css" />
{% endblock %}

{% block content %}
    <fieldset class="layui-elem-field layui-field-title">
        <legend>博客文章</legend>
        <div class="layui-field-box">
            <form class="layui-form layui-form-pane" style="margin: 20px 60px;padding: 10px" lay-filter="articleFormFilter">
                <div class="layui-form-item">
                    <label class="layui-form-label">文章分类</label>
                    <div class="layui-input-block">
                        <select name="classify_id" id="classifySelectElem" lay-filter="classify" lay-search="" lay-verify="required">
                            <option value="">--选择分类--</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">文章标签</label>
                        <div class="layui-input-inline" style="width: 1200px">
                            <div id="tagCheckboxElem"></div>
                        </div>
                        <div class="layui-input-inline">
                            <button type="button" class="layui-btn" id="articleTagAdd">新增</button>
                        </div>
                    </div>

                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">文章标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required" placeholder="文章标题..."
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">文章简介</label>
                    <div class="layui-input-block">
                        <textarea name="desc" placeholder="文章简介..." class="layui-textarea" lay-verify="required"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否发表</label>
                    <div class="layui-input-block">
                        <input type="radio" name="is_publish" value="1" title="是">
                        <input type="radio" name="is_publish" value="0" title="否" checked>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否置顶</label>
                    <div class="layui-input-block">
                        <input type="radio" name="is_top" value="1" title="是">
                        <input type="radio" name="is_top" value="0" title="否" checked>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所属系列</label>
                    <div class="layui-input-block">
                        <select name="serial_id" id="serialSelectElem" lay-filter="serial" lay-search="">
                            <option value="">--选择系列--</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">文章正文</label>
                    <div class="layui-input-block" id="editor">
                        <textarea name="content" placeholder="文章正文..." class="layui-textarea" lay-verify="required"></textarea>
                    </div>
                </div>
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="articleFormSubmit">提交</button>
            </form>
        </div>
    </fieldset>
{% endblock %}

{% block footer-scripts %}
    <script src="/phoenix-web/plugin/others/jquery.min.js"></script>
    <script src="/phoenix-web/plugin/editormd/editormd.min.js"></script>
    <script src="/phoenix-web/plugin/others/multi_select/xm-select.js"></script>
    <script src="/phoenix-web/app/mgt/blog/info/info.js" type="module"></script>
{% endblock %}