{% extends 'base/modal/modal_base.html' %}

{% block body %}
    <div class="layui-row modal-form">
        <form class="layui-form layui-form-pane" lay-filter="classifyFormFilter">
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" required lay-verify="required" placeholder="请输入名称..."
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    <input type="text" name="desc" placeholder="请输入描述信息..."
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="classifyAddSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer-js %}
    <script src="/phoenix-web/app/mgt/blog/data/add.js" type="module"></script>
{% endblock %}