.article-body {
    margin: 70px 180px 0;
    /*border: 1px solid #E8E8E8;*/
    /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);*/
    width: auto;
}

.article-body:hover {
    /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);*/
}

.article-body-title {
    font-size: 26px;
    text-align: center;
    margin: 20px auto;
    color: #555;
}

.article-body-sub-title {
    margin: 10px 0;
    color: #999;
    text-align: center;
    font-size: 14px;
}

.article-body-sub-title span {
    display: inline-block;
    padding: 5px;
}

.article-body-desc {
    margin: 25px auto 25px 23px;
    font-size: 18px;
    border-left: 5px solid #409EFF;
    text-indent: 8px;
    padding: 10px 1px;
    background-color: #F5F5F5;
}

.article-body-tags {
    border: 1px solid #C2C2C2;
    margin-left: 23px;
    padding: 10px 1px;
}

.article-body-tags span {
    margin-right: 10px;
}

.article-body-nav {
    border: 1px solid #C2C2C2;
    /*border-left: 5px solid #00FF7F;*/
    background-color: #F5F5F5;
    margin: 25px 0 20px 25px;
    height: 50px;
    font-size: 16px;
}

.article-body-nav-left {
    display: inline-block;
    float: left;
    margin: 15px 5px;
}

.article-body-nav-right {
    display: inline-block;
    float: right;
    margin: 15px 5px;
}

.article-body-statement {
    border: 1px solid #C2C2C2;
    border-left: 5px solid #00FF7F;
    background-color: #F5F5F5;
    margin: 25px 0 25px 25px;
    font-size: 18px;
}

.article-body-statement p {
    color: #555;
    margin: 15px 20px;
}

.article-body-statement p span {
    color: #000;
}

.article-body-comment {
    border: 1px solid #C2C2C2;
    border-left: 5px solid #7bbfea;
    background-color: #F5F5F5;
    margin: 25px 0 25px 25px;
}

.article-body-comment-form {
    margin: 20px;
}

.article-body-comment-explain {
    margin: 15px;
}

.article-body-comment-explain p {
    margin: 15px;
    font-size: 16px;
}

.article-body-comment-count {
    border-left: 5px solid #ec7259;
    margin: 25px 0 25px 25px;
}

.article-body-comment-count p {
    margin: 15px;
    font-size: 16px;
}

.article-body-comment-count-nums {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
}

.article-body-comment-count-sort {
    display: inline-block;
    float: right;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 200;
}

.article-body-comment-count-sort a {
    margin: 12px;
}

.article-body-comment-count-sort-active {
    font-weight: 800 !important;
}

.article-body-comment hr {
    margin: 15px;
}

.article-body-comment-show {
    margin: 25px;
}

.article-body-comment-show-card-img {
    display: inline-block;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    background-color: red;
    color: blue;
    font-size: 20px;
}

.article-body-comment-show-card-body .article-body-comment-show-card-body-nickname {
    color: #87CEFF;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.article-body-comment-show-card-body .article-body-comment-show-card-body-comment {
    font-size: 17px;
    margin-bottom: 15px;
}

.article-body-comment-show-card-body .article-body-comment-show-card-body-ctime {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 300;
}