{% extends 'base/mgt/basic.html' %}

{% block title %}数据管理{% endblock %}

{% block content %}
    <fieldset class="layui-elem-field">
        <div class="layui-field-box">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">博客分类</li>
                    <li>博客标签</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-row">
                            <div class="layui-col-md12">
                                <form class="layui-form">
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline">
                                            <input type="text" name="name__icontains" placeholder="分类名称..."
                                                   autocomplete="off" class="layui-input">
                                        </div>
                                        <div class="layui-input-inline search-form-btn">
                                            <button type="button" class="layui-btn" lay-submit lay-filter="articleClassifySearchForm">查询</button>
                                            <button type="reset" tableID="articleClassifyTable" class="layui-btn layui-btn-normal">重置</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="layui-row">
                            <table id="article-classify-table" lay-filter="articleClassifyTableFilter"></table>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="layui-row">
                            <div class="layui-col-md12">
                                <form class="layui-form">
                                    <div class="layui-form-item">
                                        <div class="layui-input-inline">
                                            <input type="text" name="name__icontains" placeholder="标签名称..."
                                                   autocomplete="off" class="layui-input">
                                        </div>
                                        <div class="layui-input-inline search-form-btn">
                                            <button type="button" class="layui-btn" lay-submit lay-filter="articleTagSearchForm">查询</button>
                                            <button type="reset" tableID="articleTagTable" class="layui-btn layui-btn-normal">重置</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="layui-row">
                            <table id="article-tag-table" lay-filter="articleTagTableFilter"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block footer-scripts %}
    <script src="/phoenix-web/app/mgt/blog/data/data.js" type="module"></script>
{% endblock %}