body {
    background-color: #EDEFF1;
}

.dashboard-card div {
    background-color: #FAFAFA;
    margin: 5px 3px 5px 18px;
    line-height: 30px;
    text-align: center;
}

.dashboard-card-title {
    font-size: 20px;
    font-weight: 100;
}

.dashboard-card-content {
    font-size: 18px;
    margin: 5px;
    color: #009688;
}

#calendar {
    text-align: center;
}

.dashboard-process-title {
    margin: 10px auto;
    font-weight: 100;
}