{% extends 'base/mgt/basic.html' %}

{% block title %}仪表板{% endblock %}

{% block header-css %}
    <link rel="stylesheet" href="/phoenix-web/app/mgt/dashboard/dashboard.css">
{% endblock %}

{% block content %}
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md9">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <i class="layui-icon layui-icon-console"> 博客统计</i>
                        </div>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space10 dashboard-card">
                                <div class="layui-col-md5">
                                    <p class="dashboard-card-title">文章总数</p>
                                    <p class="dashboard-card-content" id="dashboardArticleCount"></p>
                                </div>
                                <div class="layui-col-md6">
                                    <p class="dashboard-card-title">评论总数</p>
                                    <p class="dashboard-card-content" id="dashboardCommentCount"></p>
                                </div>
                                <div class="layui-col-md5">
                                    <p class="dashboard-card-title">标签总数</p>
                                    <p class="dashboard-card-content" id="dashboardTagCount"></p>
                                </div>
                                <div class="layui-col-md6">
                                    <p class="dashboard-card-title">访问总数</p>
                                    <p class="dashboard-card-content" id="dashboardAccessCount"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <i class="layui-icon layui-icon-chart-screen"> 其他统计</i>
                        </div>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space10 dashboard-card">
                                <div class="layui-col-md5">
                                    <p class="dashboard-card-title">未发布文章</p>
                                    <p class="dashboard-card-content" id="dashboardUnpublishArticleCount"></p>
                                </div>
                                <div class="layui-col-md6">
                                    <p class="dashboard-card-title">友链申请</p>
                                    <p class="dashboard-card-content" id="dashboardFlinkCount"></p>
                                </div>
                                <div class="layui-col-md5">
                                    <p class="dashboard-card-title">粉丝数</p>
                                    <p class="dashboard-card-content" id="dashboardFansCount"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <i class="layui-icon layui-icon-website"> 数据监控</i>
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-carousel" id="dashboardCarousel" lay-filter="dashboardCarousel">
                            <div carousel-item="">
                                <div id="accessStackAreaCharts" class="dashboard-charts"></div>
                                <div class="dashboard-charts" id="articlePublishCharts"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <i class="layui-icon layui-icon-flag"> 紧急任务</i>
                        </div>
                        <div class="layui-card-body">
                            <div id="emergencyTaskTable"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <i class="layui-icon layui-icon-date"> 日历</i>
                        </div>
                        <div class="layui-card-body">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <i class="layui-icon layui-icon-refresh"> 事件进度</i>
                        </div>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space25">
                                <div class="layui-col-md-12" style="margin-top: 5px">
                                    <h3 class="dashboard-process-title">文章更新频率(近30天)</h3>
                                    <div class="layui-progress layui-progress-big" lay-showPercent="true" lay-filter="articleUpdateRate">
                                        <div id="articleUpdateRate" class="layui-progress-bar layui-bg-green" lay-percent="0%"></div>
                                    </div>
                                </div>
                                <div class="layui-col-md-12" style="margin-top: 5px">
                                    <h3 class="dashboard-process-title">计划任务(未完成率)</h3>
                                    <div class="layui-progress layui-progress-big" lay-showPercent="true" lay-filter="taskIncompleteRate">
                                        <div id="taskIncompleteRate" class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer-scripts %}
    <script src="/phoenix-web/app/mgt/dashboard/dashboard.js" type="module"></script>
    <script src="/phoenix-web/plugin/others/echarts.min.js"></script>
{% endblock %}